[project]
	description = Yaml internationalization
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/pdemanget
[access "refs/for/refs/*"]
	read = group user/pdemanget
	push = group user/pdemanget
	label-Code-Review = -2..+2 group user/pdemanget
	label-Verified = -1..+1 group user/pdemanget
	rebase = group user/pdemanget
	removeReviewer = group user/pdemanget
	submit = group user/pdemanget
[access "refs/heads/*"]
	read = group user/pdemanget
	create = group user/pdemanget
	push = +force group user/pdemanget
	pushMerge = group user/pdemanget
[access "refs/tags/*"]
	push = +force group user/pdemanget
	pushTag = group user/pdemanget
	pushSignedTag = group user/pdemanget
